doctype html
html
  head
    include ./includes/bower_header.jade
    title Register for TicTacToe!
  body
    include ./includes/flash.jade
    .container
      h1 Register for TicTacToe!
    
      form(name="register", action="/register", method="post")
        .form-group
          label First Name
          input.form-control(type="text", name="first_name")
        .form-group
          label Last Name
          input.form-control(type="text", name="last_name")
        .form-group
          label Username
          input.form-control(type="text", name="username")
        .form-group
          label Password
          input.form-control(type="password", name="password")
        button.btn.btn-default(type="submit") Register!
